<!-- forgotpassword-partial.html -->
<div class="entryPartialContainer" layout="column">
	 <div id="commonEntryHeader">
        <img src="12thdoorLogo-Beta.png" width="114" height="34">
    </div>
    <div id="forgotpassword_form_section">
        <div class="commonContentShell" layout="column" layout-align="start center" ng-switch="forgotPasswordSucess">
        	<div id="forgotPassword_form" ng-switch-when="false">
        		<section id="containerMainText" layout="column" layout-align="center center">
	                <span>Forgot Password ?</span>
	                <span>Enter your address below to begin retrieving your password</span>
	            </section>
	            <section id="formContainer" layout="column" layout-align="start start">
	                <form name="forgotpasswordForm" ng-submit="submitForgotPasswordDetails()" autocomplete="off">
	                	<md-input-container md-no-float class="md-block">
							<input required id="email" type="email" name="email" placeholder="Email" ng-model="forgotpassworddetails.email">
							<div ng-messages="forgotpasswordForm.email.$error">
	                            <div ng-message="required">your registered email is required !</div>
	                        </div>
						</md-input-container>	
	                    <div class="md-actions" layout="column" layout-align="center center">
	                        <md-button class="md-primary" style="border:2px solid; width:250px;" type="submit" ng-disabled="forgotpasswordForm.$invalid"><span>Continue</span></md-button>
	                    </div>
	                </form>
	            </section>
        	</div>
        	<div id="forgotPassword_success" ng-switch-when="true">
        		<section id="containerMainImage" layout="column" layout-align="center center">
        			<img src="12thDoorSuccess.png" width="144" height="144"/>
        		</section> 
        		<section id="containerMainText" layout="column" layout-align="center center">
	                <span>Check your email</span>
	                <span>We have sent an email to <i>{{forgotpassworddetails.email}}</i></span>
	                <span>Check your email instructions on how to reset your password.</span>
	            </section>
	            <div class="md-actions" layout="column" layout-align="center center">
	            	<span>Not received an email ?</span>
                    <md-button class="md-primary" style="border:2px solid; width:250px;" ng-click="submitForgotPasswordDetails()"><span>Resend</span></md-button>
                </div>
        	</div>
        </div>
    </div>
</div>
