<!-- resetpassword-partial.html -->
<div class="entryPartialContainer" layout="column">
	 <div id="commonEntryHeader">
        <img src="12thdoorLogo-Beta.png" width="114" height="34">
    </div>
    <div id="resetpassword_form_section">
        <div class="commonContentShell" layout="column" layout-align="start center" ng-switch="resetPasswordSucess">
        	<div id="resetPassword_form" ng-switch-when="false">
        		<section id="containerMainText" layout="column" layout-align="center center">
	                <span>Reset Password</span>
	                <span>Please enter your new password</span>
	            </section>
	            <section id="formContainer" layout="column" layout-align="start start">
	                <form name="resetpasswordForm" ng-submit="submitResetPasswordDetails()" autocomplete="off">
	                	<md-input-container md-no-float class="md-block">
	                        <input password-strength-indicator required id="password" type="password" name="password" placeholder="Password" ng-model="resetpassworddetails.Password">
	                        <div ng-messages="resetpasswordForm.password.$error">
	                            <div ng-message="required">please enter a valid password.</div>
	                        </div>
	                    </md-input-container>
	                    <md-input-container md-no-float class="md-block">
	                        <input required id="confirmpassword" type="password" name="confirmpassword" placeholder="Confirm Password" ng-pattern={{resetpassworddetails.Password}} ng-model="resetpassworddetails.ConfirmPassword">
	                        <div ng-messages="resetpasswordForm.confirmpassword.$error">
	                        	<div ng-message="pattern">password does not match.</div>
	                            <div ng-message="required">please enter a valid password.</div>
	                        </div>
	                    </md-input-container>
	                    <div class="md-actions" layout="column" layout-align="center center">
	                        <md-button class="md-primary" style="border:2px solid; width:250px;" type="submit" ng-disabled="resetpasswordForm.$invalid"><span>Continue</span></md-button>
	                    </div>
	                </form>
	            </section>
        	</div>
        	<div id="resetPassword_success" ng-switch-when="true">
        		<section id="containerMainImage" layout="column" layout-align="center center">
        			<img src="12thDoorSuccess.png" width="144" height="144"/>
        		</section> 
        		<section id="containerMainText" layout="column" layout-align="center center">
	                <span>Password successfully updated</span>
	                <span>You're now ready to proceed with 12thDoor</span>
	            </section>
	            <div class="md-actions" layout="column" layout-align="center center">
                    <md-button class="md-primary" style="border:2px solid; width:250px;" ng-click="switchEntryView('signin')"><span>Get Started Now</span></md-button>
                </div>
        	</div>
        </div>
    </div>
</div>
