<md-dialog class="customDialogBox" style="width:640px;">
   <md-toolbar>
      <div class="md-toolbar-tools" style="height: 48px !important;">
         <h2>Pay Online</h2>
      </div>
   </md-toolbar>
   <div class="dialogContent" style="overflow: auto;">
   <form>
         <div layout="column">
            
            <div layout-gt-xs="row" style="padding: 0px 0px 20px; font-size: 18px;">
                  <label>Balance Due :&nbsp&nbsp</label>
                  <span> {{balanceDuePayment | currency:changecurrency+' '}} </span>
            </div>

               <md-input-container style="font-size: 15px;" flex ng-required="true">
                  <label>Select Payment Method</label>
                  <md-select ng-model="activePayment" ng-change="paymentMethod(activePayment)">
                     <div layout="column" flex>
                        <md-option ng-repeat="activePayment in activePayments" value="{{activePayment.name}}">
                           <div layout="row">
                              <div><span style="text-transform: capitalize;">{{activePayment.name}}</span></div>
                           </div>
                        </md-option>
                     </div>
                  </md-select>
               </md-input-container>
         
            <div layout-gt-xs="row">
               <md-input-container style="font-size: 15px;" class="md-block" flex-gt-xs>
                  <label>Payment Amount</label>
                  <input ng-model="partialAmount" rasm-numonly ng-disabled="checkPayment">
                  <span style="font-size:12px;color:red;">{{checkpartialAmountNull}}</span>
               </md-input-container>
               
            </div>
         </div>
   </form>
   </div>
   <div class="dialogFooter">
      <div ng-show="currencyValidate">
                 <span style="color:red;">{{currencyValMsg}}</span>
      </div>
      <md-button class="md-primary" style="border: 2px solid;"  ng-if="activePayment=='stripe'" ng-disabled="vm.submitProgress" stripe-payment="config" ng-click="submit()">Confirm</md-button>
      <md-button class="md-primary" style="border: 2px solid;"  ng-if="activePayment=='2checkout'" ng-disabled="vm.submitProgress" stripe-payment="config" ng-click="submit()">Confirm</md-button>
      <md-button class="md-primary md-hue-3" style="border: 2px solid;"  ng-click="cancel()">Cancel</md-button>
   </div>
</md-dialog>