.customDialogBox{

font-size: 15px;
width:640px;

}

@media screen and (max-width: 760px){

       .customDialogBox {
       height:100%;
       width:100%;
       max-height:100%;
       max-width: 100%;
       position: absolute;
       top: 0;
       left: 0;
       border-radius: 0;
   }
   .dialogContent{
    height:100%;
   }
}

    md-toolbar{
        min-height:48px;

    }

    md-toolbar.md-toolbar-tools{
       font-size: 18px;
        height:48px;
        max-height:48px;
    }

     .dialogContent{
        padding:32px;
        overflow-y: auto;
    }

    .dialogFooter{
        padding:12px 24px;
        border-top:1px solid rgba(0, 0, 0, 0.12);
    }

    button{
        float:right;
        margin:0px;
        border: 2px solid;
    }

    button:nth-child(2){
        margin-right:12px;
    }


