 <md-button class="md-fab md-primary portal_cta" aria-label="accepted" ng-click="accepted(estimateDataMy)" style="position: fixed;bottom: 30px;right: 30px;background-color:#8BC34A;">       
           <md-tooltip md-direction="left">Accepted</md-tooltip>
	     <md-icon md-svg-src="img/ic_check_24px.svg"></md-icon>
 </md-button>


<div id="invoices" layout="row">
   <div class="center" layout="column" layout-align="center center" flex>
      <div class="content-card" layout="column">
         <div class="content-wrapper">
            <div class="thread-detail">
               <div class="invTemplate-1">

                 <!--  <div class="toolbar" layout="row" layout-align="space-between center">
                  <div layout="row" layout-align="end center" flex>
                  <md-button class="md-icon-button" aria-label="Print" ng-click="printPDF()">
                     <md-icon md-svg-icon="img/ic_print_24px.svg"></md-icon>
                     <md-tooltip><span>Print</span></md-tooltip>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Download" ng-click="downloadPDF()">
                     <md-icon md-svg-icon="img/ic_file_download_24px.svg"></md-icon>
                     <md-tooltip><span>Download</span></md-tooltip>
                  </md-button>
                  </div>
                  </div> -->
                  
                  <div class="invoice-container">
                        <div class="detail-wrapper">
                           <div class="detail-header" layout="row" layout-xs="column">
                              <div class="ids" layout="column" flex>
                                 <div layout="row" class="seller" layout-align="start center" flex>
                                    <div class="brandlogo" layout="row" layout-align="center center">
                                       <img src="{{companyLogo}}" width="156" height="156">
                                    </div>
                                    <div class="divider"></div>
                                    <div class="detail">
                                       <div class="address">
                                          <ms-address-component address-data="ObjCompanyAddress" ent-type="'company'" align="left" >
                                          </ms-address-component>
                                       </div>
                                    </div>
                                 </div>
                                 <div layout="row" class="client" layout-align="start center" flex>
                                    <div class="logo" layout="row" layout-align="center center">
                                       <div>{{estimateDataMy.profileName[0] | uppercase}}</div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="detail">
                                       <div class="address">
                                          <ms-address-component address-data="ObjCusAddress" ent-type="'client'" align="left" >
                                          </ms-address-component>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="summary" layout="column" flex>
                                 <div class="code" layout="row" layout-align="end start">
                                    <div layout="column" flex>
                                       <div class="label">ESTIMATE</div>
                                    </div>
                                    <div layout="column">
                                       <div class="value">{{estimateDataMy.estimateNo}}</div>
                                    </div>
                                 </div>
                                 <div class="space" layout flex>
                                 </div>
                                 <div layout="row" layout-align="end end" flex>
                                    <div layout="column" flex>
                                       <div class="label cellSpacer">DATE</div>
                                       <div class="label cellSpacer">VALIDITY</div>
                                       <div class="label cellSpacer">TERMS</div>
                                       <div class="label cellSpacer">CUSTOMER REF</div>
                                       <div class="label cellSpacer">CURRENCY</div>
                                    </div>
                                    <div layout="column">
                                       <div class="value cellSpacer">{{estimateDataMy.createDate | toDateObject}}</div>
                                       <div class="value cellSpacer">{{estimateDataMy.validity| toDateObject}}</div>
                                       <div class="value cellSpacer">{{estimateDataMy.paymentTerm}}</div>
                                       <div class="value cellSpacer">{{estimateDataMy.customerRef}}</div>
                                       <div class="value cellSpacer">{{estimateDataMy.changedCurrency}}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <span class="invoiceComment" style="margin-left: 0;">{{estimateDataMy.comments}}</span>
                           <div class="detail-content">
                              <div class="line-items-wrapper" style="overflow-x:auto;">
                              <table class="invoice-table">
                                 <thead class="tableHeader">
                                    <th>#</th>
                                    <th class="text-left">DESCRIPTION</th>
                                    <th class="text-center">QUANTITY</th>
                                    <th class="text-center">UOM</th>
                                    <th class="text-center">UNIT PRICE</th>
                                    <th class="text-center">DISCOUNT</th>
                                    <th class="text-right">AMOUNT</th>
                                 </thead>
                                 <tbody class="tableBody">
                                    <tr ng-repeat="product in estimateDataMy.estimateProducts">
                                       <td style="width:3%;">{{$index + 1}}</td>
                                       <td class="text-left" style="width:35%">
                                          <div> {{product.productName}}</div>
                                          <div class="detail"> {{product.olp}}</div>
                                       </td>
                                       <td class="text-center" style="width:5%">
                                          {{product.quantity}}
                                       </td>
                                       <td class="text-center" style="width:5%">
                                          {{product.productUnit}}
                                       </td>
                                       <td class="text-center" style="width:15%">
                                          {{product.price / exchangeRate|number:2}}
                                       </td>
                                       <td class="text-center" style="width:8%">
                                          {{product.discount}} %
                                       </td>
                                       <td class="text-right" style="width:15%">
                                          {{product.amount / exchangeRate|number:2}}
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                              </div>

                              <span class="tableSwipeIndicator">Swipe horizontaly on the table to see all the columns</span>
                              
                              <table class="invoice-table-footer">
                                 <tbody>
                                    <tr class="subtotal">
                                       <td>SUBTOTAL</td>
                                       <td>{{estimateDataMy.subTotal / exchangeRate | currency:estimateDataMy.changedCurrency+' '}}</td>
                                    </tr>
                                    <tr class="tax" ng-repeat="item in estimateDataMy.taxAmounts">
                                       <td>{{item.taxName | uppercase }}</td>
                                       <td>{{item.salesTax / exchangeRate| currency:estimateDataMy.changedCurrency+' '}}</td>
                                    </tr>
                                    <!-- <tr class="tax">
                                       <td>TAX</td>
                                       <td>{{estimateDataMy.salesTaxAmount / exchangeRate | currency:estimateDataMy.changedCurrency+' '}}</td>
                                    </tr> -->
                                    <tr class="shipping">
                                       <td>SHIPPING</td>
                                       <td>{{estimateDataMy.shipping / exchangeRate | currency:estimateDataMy.changedCurrency+' '}}</td>
                                    </tr>
                                    <tr class="balancedue">
                                       <td>TOTAL</td>
                                       <td>{{estimateDataMy.netAmount / exchangeRate | currency:estimateDataMy.changedCurrency+' '}}</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           
                           <div class="detail-footer">
                              <div class="footerSegments" ng-show="offlinePayments">
                                 <span class="segmentHeader">PAYMENT INFORMATION</span>
                                 <div class="segmentContent">
                                    <span ng-bind-html="offlinePayments"></span>
                                 </div>
                              </div>
                              <div class="footerSegments" ng-show="estimateDataMy.notes">
                                 <span class="segmentHeader">Notes</span>
                                 <div class="segmentContent">
                                    <span ng-bind-html="estimateDataMy.notes"></span>
                                 </div>
                              </div>
                              <div ng-if="estimateDataMy.customFields.length" class="footerSegments">
                                 <span class="segmentHeader">Additional Information</span>
                                 <div class="segmentContent" layout="row" ng-repeat="detail in estimateDataMy.customFields">
                                    <span ng-show="detail.value" class="contactSegment" flex>{{detail.labelShown}} : {{detail.value}}</span>
                                 </div>
                              </div>
                              <div class="footerSegments" ng-if="estimateDataMy.isCurrencyChanged == true">
                                  <span class="segmentHeader" >Currency Exchange Rate</span>
                                  <div class="segmentContent">
                                      <span>{{estimateDataMy.changedCurrency+" "+estimateDataMy.exchangeRate }}</span>
                                  </div>
                              </div>
                              <div class="footerSegments" ng-if="showShippingInDetailsView">
                                 <span class="segmentHeader">Shipping Information</span>
                                 <div class="segmentContent" style="padding-bottom: 18px;">
                                    <span ng-show="estimateDataMy.shippingAddress.s_street">{{estimateDataMy.shippingAddress.s_street}},</span>
                                    <span ng-show="estimateDataMy.shippingAddress.s_city">{{estimateDataMy.shippingAddress.s_city}},</span>
                                    <span ng-show="estimateDataMy.shippingAddress.s_state">{{estimateDataMy.shippingAddress.s_state}},</span>
                                    <span ng-show="estimateDataMy.shippingAddress.s_zip">{{estimateDataMy.shippingAddress.s_zip}},</span>
                                    <span ng-show="estimateDataMy.shippingAddress.s_country">{{estimateDataMy.shippingAddress.s_country}}</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     <div class="page-break"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>