<md-dialog>
    <md-content layout-padding>
        <md-subheader class="md-no-sticky">Add a new Panel</md-subheader>

        <div layout layout-sm="column" layout-margin>
            <section-title title="Title"></section-title>
            <md-input-container style="width:100%;padding-bottom:5px;">
                <input ng-model="newPanelTitle">
            </md-input-container>
        </div>
        <div layout="row" layout-align="end center" layout-padding>
            <md-button class="md-primary" ng-click="addNewPanel();">Add</md-button>
            <md-button ng-click="close();">Cancel</md-button>
        </div>
    </md-content>
</md-dialog>
