<!-- duoworld-invalidroute.html -->
<style>
	.dw-invaliedoute-view-container{
		position:relative;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:#00bcd4;
		overflow:hidden;
		box-sizing:border-box;       
	}

	#dw-invalidroute-msg{
		padding:50px; 
		background:#ffffff;   
	}

	#dw-invalidroute-msg h1{
		font-size:32px; 
		font-weight:200;
		color:#212121;  
	}

</style>

<div class="dw-invaliedoute-view-container" layout="column" layout-align="center center">
	<img src="images/shellassets/404.png">
	<md-button ng-href="/mambatiFrameworkShell3.6/index.html#/duoworld-framework/dock" class="md-primary md-hue-1">return to duo world</md-button>
</div>