<md-whiteframe id="registerFrame" class="md-whiteframe-z3 " layout="column" layout-align="start center">
	<div id="fw-entry-bannerArea" layout="row" layout-align="center center">
		<img ng-src="{{tennantDetails.tennantCygilDetails.tennantCygilUrl}}" width="{{tennantDetails.tennantCygilDetails.tennantCygilDimention.width}}" height="{{tennantDetails.tennantCygilDetails.tennantCygilDimention.height}}">
	</div>
	<md-content class="fullWidth md-padding">
		<form name="registerForm">
			<md-input-container>
			    <label>Full Name</label>
			    <input required name="fullName" ng-model="registerDetails.fullName">
		        <div ng-messages="registerForm.fullName.$error">
		          <div ng-message="required">Full Name is required.</div>
		        </div>
		    </md-input-container>
		    <md-input-container>
			    <label>Email</label>
			    <input required name="email" ng-model="registerDetails.email">
		        <div ng-messages="registerForm.email.$error">
		          <div ng-message="required">Email Address is required.</div>
		        </div>
		    </md-input-container>
		    <md-input-container>
			    <label>User Name</label>
			    <input required name="userName" ng-model="registerDetails.userName">
		        <div ng-messages="registerForm.userName.$error">
		          <div ng-message="required">User Name is required.</div>
		        </div>
		    </md-input-container>
		    <md-input-container>
			    <label>Password</label>
			    <input type="password" required name="password" ng-model="registerDetails.password">
		        <div ng-messages="registerForm.password.$error">
		          <div ng-message="required">Please enter a password.</div>
		        </div>
		    </md-input-container>
		    <md-input-container>
			    <label>Confirm Password</label>
			    <input type="password" required name="confirmPassword" ng-model="registerDetails.confirmPassword">
		        <div ng-messages="registerForm.confirmPassword.$error">
		          <div ng-message="required">Please confirm your password.</div>
		        </div>
		    </md-input-container>
		    </br>
		    <md-button class="md-raised md-primary" ng-click="submitRegistrationDetails()"><span class="fw-entry-summitInfoBtn-lbl">Register</span></md-button>
		    </br>
		    <span class="registerLoginViewLinks">If you already are a memeber, <a ui-sref="duoworld-frameworkentry.login">login here.</a></span>
		</form>
	</md-content>
</md-whiteframe>