<style>
    .example-animate-container {
        background: #ececec;
        list-style: none;
        margin: 0;
        padding: 0 10px;
    }

    .animate-repeat {
        line-height: 40px;
        list-style: none;
        /*box-sizing:border-box;*/
        border-bottom: 1px solid white;
        -webkit-transition: 1s linear all;
        transition: 1s linear all;
    }

    .animate-repeat.ng-move,
    .animate-repeat.ng-enter,
    .animate-repeat.ng-leave {
        -webkit-transition: all linear 0.5s;
        transition: all linear 0.5s;
    }

    .animate-repeat.ng-leave.ng-leave-active,
    .animate-repeat.ng-move,
    .animate-repeat.ng-enter {
        opacity: 0;
        max-height: 0;
    }

    .animate-repeat.ng-leave,
    .animate-repeat.ng-move.ng-move-active,
    .animate-repeat.ng-enter.ng-enter-active {
        opacity: 1;
        max-height: 40px;
    }
    /**
 * Stagger Leave (hide) animation
 */

    .animate-repeat.ng-leave-stagger {
        /* this will have a 100ms delay between each successive leave animation */
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
        /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
    }
    /**
 * Stagger ENTER ANIMATION
 */

    .animate-repeat.ng-enter-stagger {
        /* this will have a 100ms delay between each successive enter animation */
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
        /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
    }

</style>

<md-dialog aria-label="new card" style="width:600px" ng-cloak>
    <form name="editForm" ng-submit="submit()">
        <md-toolbar class="modal-header" style="background:#424242">
            <div class="md-toolbar-tools profile-toolbar">
                <h2 ng-show="newCard">Add New Card</h2>
                <h2 ng-hide="newCard">Edit Card</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel();" type="button" aria-label="Close">
                    <md-icon md-svg-icon="icons/ic_close_24px.svg" style="fill:white"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Card Number</label>
                        <input required name="CardNo" ng-model="card.CardNo" angular-mask="0000-0000-0000-0000">
                        <!--ng-pattern="cardType.regExPattern"  minlength="15" md-maxlength="16"-->
                        <div class="hint">xxxx-xxxx-xxxx-xxxx</div>
                        <div ng-messages="editForm.CardNo.$error">
                            <div ng-message-exp="['required']">Card No. is required</div>
                        </div>
                    </md-input-container>
                    <div class="md-block" flex-gt-sm style="height:40px;">
                        <img ng-repeat="type in cardTypes  | filterByPattern: card.CardNo" class="animate-repeat" ng-src="{{type.imageUrl}}" style="padding-left:20px;height:40px;" />
                        <!--filterByPattern: card.CardNo-->

                        <div layout-gt-sm="row" layout-align="center center" ng-show="!(cardTypes | filterByPattern:card.CardNo).length">
                            <ng-md-icon icon="do_not_disturb" style="fill: #db4437;" size="24px"></ng-md-icon>
                            <div style="font-size:20px;color:#db4437;margin:10px;font-weight:700">Invalid card number</div>
                        </div>
                    </div>
                </div>
                <!--div layout-gt-sm="row">
			<md-button ng-click="checkThis()">Check this</md-button>
		</div-->
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm style="margin-top: 37px;padding-bottom: 0px;">
                        <label>CVV</label>
                        <input required name="CSV" ng-model="card.CSV" minlength="3" md-maxlength="4" maxlength="4">
                        <div ng-messages="editForm.CSV.$error">
                            <div ng-message-exp="['required']">CVV No. is required</div>
                            <div ng-message-exp="['minlength', 'maxlength']">Invalid CVV number</div>
                        </div>
                    </md-input-container>
                    <div flex>
                        <fieldset class="standard" style="padding-bottom:0;padding-right:0;border:1px solid #E1E1E1">
                            <legend style="color: #757575;font-size: 12px">Expiry Date *</legend>
                            <div layout="row">
                                <md-input-container flex>
                                    <label>Year</label>
                                    <md-select ng-model="card.ExpiryYear" ng-change="yearChanged(card.ExpiryYear)" flex>
                                        <md-option ng-repeat="year in years" value="{{year}}">{{year}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Month</label>
                                    <md-select ng-model="card.ExpiryMonth" ng-disabled="card.ExpiryYear.length != 4">
                                        <md-option ng-repeat="month in months" value="{{month}}">{{month}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </fieldset>
                    </div>

                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Name On Card</label>
                        <input required name="Name" ng-model="card.Name">
                        <div ng-messages="editForm.Name.$error">
                            <div ng-message="required">Name is required.</div>
                        </div>
                    </md-input-container>

                </div>


            </div>
            <md-divider></md-divider>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <div style="font-size: 12px;margin-top:20px">Powered by Cloud Charge</div>
            <span flex></span>
            <md-button type="button" ng-click="cancel()">
                cancel
            </md-button>

            <md-button type="submit" class="md-raised md-primary" style="margin-right:20px;background: #424242;" ng-disabled="disableaddBtn">
                <span ng-show="newCard">Add Card</span><span ng-hide="newCard">Save Card Changes</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
